* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Times New Roman", Arial, sans-serif;
	background-color: #404040;
	border: 3px solid BEBEBE;	
}
#HeadingOne {
	padding: 40px;
	text-align: center;
	border: 3px solid #DCDCDC;
	background-color: Black;
	font-size: 300%;
	color: A5C9FF;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1.5rem;
	margin-top: 2rem;
}
.formDiv {
	margin: auto;
	margin-top: 10rem;
	font-size: 2rem;
	color: FFB2B2;
	border: 3px solid #FDFDFD;
	background-color: 010101;
	text-align: center;
	position: relative;
	overflow: auto;
	width: 500px;
}
.imagesElement:hover {
	transform: scale(1.3);
}
.imagesElement {
	transition: transform 0.5s ease-in-out;
}